In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, asc, desc, udf, when
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]
schema = ["employee_name", "department", "state", "salary", "age", "bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [0]:
df.groupBy("department").sum("salary").show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

In [0]:
d1=df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [0]:
df.groupBy("department","state").sum("salary","bonus").show(truncate=False)

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|Sales     |NY   |176000     |30000     |
|Sales     |CA   |81000      |23000     |
|Finance   |CA   |189000     |47000     |
|Finance   |NY   |162000     |34000     |
|Marketing |NY   |91000      |21000     |
|Marketing |CA   |80000      |18000     |
+----------+-----+-----------+----------+

In [0]:
df.select(df.employee_name,df.state).filter(df.state.endswith("Y")).sort(df.employee_name.desc()).show(truncate=False)

+-------------+-----+
|employee_name|state|
+-------------+-----+
|Scott        |NY   |
|Michael      |NY   |
|Kumar        |NY   |
|Jen          |NY   |
|James        |NY   |
+-------------+-----+

In [0]:
df.select(df.employee_name,df.state).filter(df.state.endswith("Y")).sort("employee_name").show(truncate=False)

+-------------+-----+
|employee_name|state|
+-------------+-----+
|James        |NY   |
|Jen          |NY   |
|Kumar        |NY   |
|Michael      |NY   |
|Scott        |NY   |
+-------------+-----+

In [0]:
df.select(df.employee_name,when(df.state=="NY","New York").otherwise(df.state).alias("not from NY")).show()

+-------------+-----------+
|employee_name|not from NY|
+-------------+-----------+
|        James|   New York|
|      Michael|   New York|
|       Robert|         CA|
|        Maria|         CA|
|        Raman|         CA|
|        Scott|   New York|
|          Jen|   New York|
|         Jeff|         CA|
|        Kumar|   New York|
+-------------+-----------+

In [0]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
df3=spark.read.csv("/FileStore/tables/insurance.csv",header=True)

In [0]:
df3.show(truncate=False)

+---+------+------+--------+------+---------+-----------+
|age|sex   |bmi   |children|smoker|region   |charges    |
+---+------+------+--------+------+---------+-----------+
|19 |female|27.9  |0       |yes   |southwest|16884.924  |
|18 |male  |33.77 |1       |no    |southeast|1725.5523  |
|28 |male  |33    |3       |no    |southeast|4449.462   |
|33 |male  |22.705|0       |no    |northwest|21984.47061|
|32 |male  |28.88 |0       |no    |northwest|3866.8552  |
|31 |female|25.74 |0       |no    |southeast|3756.6216  |
|46 |female|33.44 |1       |no    |southeast|8240.5896  |
|37 |female|27.74 |3       |no    |northwest|7281.5056  |
|37 |male  |29.83 |2       |no    |northeast|6406.4107  |
|60 |female|25.84 |0       |no    |northwest|28923.13692|
|25 |male  |26.22 |0       |no    |northeast|2721.3208  |
|62 |female|26.29 |0       |yes   |southeast|27808.7251 |
|23 |male  |34.4  |0       |no    |southwest|1826.843   |
|56 |female|39.82 |0       |no    |southeast|11090.7178 |
|27 |male  |42.13 |0       |yes   |southeast|39611.7577 |
|19 |male  |24.6  |1       |no    |southwest|1837.237   |
|52 |female|30.78 |1       |no    |northeast|10797.3362 |
|23 |male  |23.845|0       |no    |northeast|2395.17155 |
|56 |male  |40.3  |0       |no    |southwest|10602.385  |
|30 |male  |35.3  |0       |yes   |southwest|36837.467  |
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [0]:
df3.select(df3.age).groupBy(df3.age).count().sort(df3.age).show()

+---+-----+
|age|count|
+---+-----+
| 18|   69|
| 19|   68|
| 20|   29|
| 21|   28|
| 22|   28|
| 23|   28|
| 24|   28|
| 25|   28|
| 26|   28|
| 27|   28|
| 28|   28|
| 29|   27|
| 30|   27|
| 31|   27|
| 32|   26|
| 33|   26|
| 34|   26|
| 35|   25|
| 36|   25|
| 37|   25|
+---+-----+
only showing top 20 rows

In [0]:
%sh
dbutils.fs.ls()

/bin/bash: -c: line 1: syntax error: unexpected end of file

In [0]:

emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

In [0]:
empDF=spark.createDataFrame(data=emp, schema=empColumns)
empDF.printSchema()
empDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
dept = [("Finance",10), 
    ("Marketing",20), 
    ("Sales",30), 
    ("IT",40) 
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id == deptDF.dept_id,"inner").show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

df = spark.createDataFrame(data=data,schema=columns)

df.show(truncate=False)

+-----+------------+
|Seqno|Name        |
+-----+------------+
|1    |john jones  |
|2    |tracey smith|
|3    |amy sanders |
+-----+------------+

In [0]:
def convertCase(str):
    resStr=""
    arr=str.split(" ")
    for x in arr:
        resStr = resStr + x[0:1].upper() + x[1:len(x)]+" "
    return resStr

In [0]:
convertUDF= udf(lambda z: convertCase(z))

In [0]:
df.select(col("Seqno"),convertUDF(col("Name")).alias("Name")).show(truncate=False)

+-----+-------------+
|Seqno|Name         |
+-----+-------------+
|1    |John Jones   |
|2    |Tracey Smith |
|3    |Amy Sanders  |
+-----+-------------+

In [0]:
from pyspark.sql.functions import expr

In [0]:
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), 
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), 
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), 
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- Country: string (nullable = true)

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |400   |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+

In [0]:
pivotDF = df.groupBy("Product").pivot("Country").sum("Amount")
pivotDF.printSchema()
pivotDF.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+